body{
    display: flex;
    margin: 0;
    font-family: sans-serif;
}

#menu-lateral{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 220px;
    background-color: rgb(187, 187, 187);
    border-right: 2px solid black;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

.color{
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 30px);
    gap: 2px;
    justify-content: center;
}

.cor{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cor:hover{
    border: 1px solid black;
}

.roxo{ background: #d36ad6; }
.marrom{ background: #f28c64; }
.azul{ background: #9ec5d6; }
.amarelo{ background: #e5e5c8; }
.orange{ background: #ffa500; }
.verde{ background: #8bd48b; }

.formato{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.forma{
    width: 35px;
    height: 35px;
    background: #d36ad6;
    border: 2px solid #555;
    cursor: pointer;
}

.quad{
    border-radius: 0;
}

.circ{
    border-radius: 50%;
}

#container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    width: 100px;
    height: 100px;
    background: violet;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}